<!DOCTYPE HTML>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flow File Uploader</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/customDesign.css}"/>
</head>
<body>


<div class="container">
    <a th:href="@{/}" class="btn btn-lg btn-success" style="margin-top: 3rem;">메인 페이지로 이동</a>
    <div class="custom-container">
        <div class="jumbotron">
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/e3/Flow_logo_211215.png" width="30%"/><br>
            <h1>🤠 파일 관리 🤠</h1>
            <div class="lead">
                <p class="text-md-center">업로드 한 파일을 관리할 수 있습니다.</p>
            </div>
            <div class="custom-box">
                <h5><u>파일</u></h5>
                <table class="table table-striped custom-table">
                    <thead>
                    <th class="number">순번</th>
                    <th class="name-column">파일 이름</th>
                    <th class="download-btn">다운로드</th>
                    <th class="delete-btn">삭제</th>
                    </thead>
                    <tbody>
                    <tr th:each="uploadedFile, iterStat : ${uploadedFiles}">
                        <td th:text="${#numbers.formatInteger(iterStat.count, '03')}"></td>
                        <td th:text="${uploadedFile.originalFileName}"></td>
                        <td>
                            <a th:href="'/file?id=' + ${uploadedFile.id}" class="btn btn-secondary" style="background-color: mediumpurple"
                               role="button">⤵️</a>
                        </td>
                        <td>
                            <button class="btn btn-secondary" type="button" style="background-color: mediumpurple"
                                    th:onclick="'deleteCustomExtension(' + ${uploadedFile.id} + ')'">🔪

                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="~{fragments/footer :: footer}"></div>
        </div>
    </div>
</div>

<script>
    function deleteCustomExtension(fileId) {
        $.ajax({
            url: '/file',
            type: 'DELETE',
            contentType: 'application/json',
            data: JSON.stringify({
                id: fileId
            }),
            success: function (response) {
                location.reload();
            },
            error: function (error) {
                console.error("Error deleting custom extension:", error);
            }
        });
    }
</script>
</body>
</html>
