<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flow File Uploader</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/customDesign.css}"/>
</head>

<body>


<div class="container">
    <a th:href="@{/}" class="btn btn-lg btn-success">메인 페이지로 이동</a>
    <div class="custom-container">
        <div class="jumbotron">
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/e3/Flow_logo_211215.png" width="30%"/><br>
            <h1>⛔ 파일 확장자 차단 ⛔</h1>
            <div class="lead">
                <p class="text-md-center">파일 확장자에 따라 특정 형식의 파일 업로드를 제한합니다.</p>
            </div>
            <div class="custom-box" style="white-space: nowrap;">
                <h5><u>고정 확장자</u></h5><br>
                <div th:each="fixedFileExtension : ${fixedFileExtensions}"
                     style="display: inline-block; margin-right: 10px;">
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" th:checked="${fixedFileExtension.isRestricted}"
                               th:attr="data-extension-id=${fixedFileExtension.id}"
                               onchange="updateCheckBoxStatus(this)"/>
                        <label class="form-check-label" th:text="${fixedFileExtension.fileExtensionType}"></label>
                    </div>
                </div>
            </div>
            <div class="custom-box">
                <h5><u>커스텀 확장자</u></h5><br>
                <div class="input-group mx-auto mb-md-2" style="box-shadow: none;">
                    <input type="text" class="form-control" id="customExtensionInput" placeholder="확장자 입력">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" onclick="addCustomExtension()">추가</button>
                    </div>
                </div>
                <table class="table table-striped custom-table">
                    <thead>
                    <th class="number">순번</th>
                    <th class="name-column">확장자</th>
                    <th class="name-column">등록 일시</th>
                    <th class="delete-btn">삭제 버튼</th>
                    </thead>
                    <tbody>
                    <tr th:each="customFileExtension, iterStat : ${customFileExtensions}">
                        <td th:text="${#numbers.formatInteger(iterStat.count, '03')}"></td>
                        <td th:text="${customFileExtension.name}"></td>
                        <td th:text="${customFileExtension.name}"></td>
                        <td th:text="${customFileExtension.name}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="margin-top: 40px;">
                <div th:replace="~{fragments/footer :: footer}"></div>
            </div>
        </div>
    </div>
</div>

<script>
    function updateCheckBoxStatus(checkbox) {
        const extensionId = checkbox.getAttribute('data-extension-id');
        $.ajax({
            url: '/file/restrict',
            type: 'PATCH',
            contentType: 'application/json',
            data: JSON.stringify({
                id: extensionId
            }),
            success: function (data) {
                console.log(data);
            },
            error: function (error) {
                console.error('Error:', error);
            }
        });
    }
</script>

</body>

</html>
