<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flow File Uploader</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/customDesign.css}"/>
</head>

<body>
<div class="container">
    <div class="custom-container">
        <div class="jumbotron">
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/e3/Flow_logo_211215.png"
                 width="30%"/>
            <div class="lead">
                <p class="text-right"><b>변해빈</b><br><a href="mailto:joker7011@naver.com">joker7011@naver.com</a></p>
            </div>
            <div class="text-center">
                <div>
                    <a class="btn btn-lg btn-success" href="/file/new">파일 업로드</a>
                    <a class="btn btn-lg btn-success" href="/files">파일 관리</a>
                    <a class="btn btn-lg btn-success" href="/file/restrict">파일 확장자 차단</a>
                </div>
                <div style="margin-top: 40px;">
                    <div th:replace="~{fragments/footer :: footer}"></div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
